@model List<OnlineShopping.Models.Product>
<div style="background-color:red">
    @ViewData["msg"]
</div><br/>
<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-4">
        <img src=/@item.Pimage height="90px" />
        <div>@item.Pid</div>
        <div>@item.Pname</div>
        <div>@item.Description</div>
        <div>@item.Price</div>
        <div>
            <a class="btn btn-outline-primary" asp-controller="Onlineshop" asp-action="ViewProduct" asp-route-id=@item.Pid>Buy Now</a>
        </div>

    </div>
}
</div>
